#logo{
    max-width: 200px;
    padding-top: 20px;
}
#social li{
          padding-left:10px;
          padding-top:30px;
          font-size: 45px;
  }
  @media (max-width: 770px) {
    
    #redes{
        float:none !important;
    }
    #social{
        margin:0 auto;
    }
    
}
